extends layout
block content
    h1 #{title}
    p #{content}
    -var products = [];
    -products = {list};
    table
      tr
        th Name
        th Price
        th Color 
      each p in products
        tr
          td=JSON.stringify(p)
          td=JSON.stringify(p)
          td=JSON.stringify(p)
          